@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221 83% 53%;
    --radius: 0.5rem;
    --chart-1: 221 83% 53%;
    --chart-2: 142 71% 45%;
    --chart-3: 43 96% 56%;
    --chart-4: 326 100% 74%;
    --chart-5: 187 100% 42%;
  }

  .dark {
    --background: 200 2% 10%;
    --foreground: 60 5% 80%;
    --card: 200 2% 12%;
    --card-foreground: 60 5% 80%;
    --popover: 200 2% 12%;
    --popover-foreground: 60 5% 80%;
    --primary: 60 5% 80%;
    --primary-foreground: 200 2% 12%;
    --secondary: 200 2% 15%;
    --secondary-foreground: 60 5% 80%;
    --muted: 200 2% 15%;
    --muted-foreground: 60 5% 50%;
    --accent: 200 2% 15%;
    --accent-foreground: 60 5% 80%;
    --destructive: 0 40% 30%;
    --destructive-foreground: 60 5% 80%;
    --border: 200 2% 15%;
    --input: 200 2% 15%;
    --ring: 60 5% 70%;
    --chart-1: 60 5% 70%;
    --chart-2: 142 50% 45%;
    --chart-3: 43 70% 56%;
    --chart-4: 326 70% 74%;
    --chart-5: 187 50% 42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  html {
    overflow-y: scroll;
  }
}

@layer components {
  .container {
    @apply px-4 md:px-8 lg:px-12 mx-auto max-w-7xl;
  }
}
